<div class="d-flex gap-1 justify-content-end">
  <div>Comments <span><%= post.comments_counter %></span></div>
  <div>
    <%= link_to user_posts_likes_path(current_user, post.id) do %>
      <button class="btn btn-default btn-sm mx-auto">
        Likes <span><%= post.likes_counter %></span>
      </button>
    <% end %>
  </div>
</div>