@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Grape+Nuts&family=Poppins&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Poppins', sans-serif;
}

body {
  background: rgba(241, 239, 239, 0.87);
}

.container {
  width: 100%;
  padding: 1rem;
}

.row {
  display: flex;
}

.header {
  text-align: center;
  color: #484747;
}

.ml-2 {
  margin-left: 2rem;
}

.ml-1 {
  margin-left: 1rem;
}

.mt-5 {
  margin-top: 5rem;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.text-end {
  text-align: end;
}

.text-start {
  text-align: start;
}

.text-center {
  text-align: center;
}

.justify-space-between {
  justify-content: space-between;
}

.leading,
.user-item:not(:last-child) {
  border-bottom: 1px solid #e3e2e2;
}

.text-light {
  color: #a9a9a9;
}

.w-100 {
  width: 100%;
}

.justify-content-end {
  justify-content: flex-end;
}

.gap-1 {
  gap: 1rem;
}

.align-self-center {
  align-self: center;
}

.btn {
  box-shadow: -7px 8px 57px 8px rgba(209, 209, 209, 0.75);
  border: 1px solid #d3d3d3;
  padding: 0.6rem 1.5rem;
  font-size: 16px;
  border-radius: 5px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.submit {
  width: fit-content;
}

.input-control, .input-area{
 padding: .5rem .8rem;
 border: 1px solid #999999;
 border-radius: 5px;
}

.input-area {
  height: 10rem;
}

.input-control:focus, .input-area:focus{
  outline: 1px solid #4040ef;
}


@media screen and (min-width: 765px) {
  .container {
    width: 50%;
    padding: 1rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    min-height: 100vh;
  }

  .list-box {
    box-shadow: -7px 8px 57px 8px rgba(209, 209, 209, 0.75);
    border: 1px solid #dedcdc;
    width: 60%;
    margin: auto;
    padding: 0.5rem;
    border-radius: 5px;
  }

  .card {
    padding: 1rem 0;
    margin-top: 1rem;
  }

  .portrait {
    width: 9rem;
    height: 6rem;
    margin: 0 10px 0 0;
    border-radius: 5px;
  }
}
